{% extends "base.html" %}

{% block title %}API Overview {% endblock %}

{% block content %}

{% for ns in namespaces %}
<h1>Namespace {{ ns.name }}-{{ ns.version }}</h1>
  {% if ns.classes %}
    <h2>Classes</h2>
    <ul>
      {% for class in ns.classes %}
        <li>{{ class.name }}</li>
      {% endfor %}
    </ul>
  {% endif%}
  {% if ns.methods %}
    <h2>Methods: </h2>
    <ul>
      {% for method in ns.methods %}
        <li>{{ method.methods }}</li>
        {% endfor%}
    </ul>
  {% endif %}
{% endfor %}

{% endblock %}
